body {
  background-color: #222222;
}

.square {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(purple, yellow);
  transition: display 2s allow-discrete, opacity 2s;
}

.square.hide {
  display: none;
  opacity: 0;
}
