body {
  background-color: #222222;
}

.square {
  width: 200px;
  height: 200px;
  background-color: purple;
  transition: 2s 1s ease-in-out all;
}

.square:hover {
  transform: rotate(45deg);
  background-color: skyblue;
}
