body {
  background-color: #222222;
}

.square {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(purple, yellow);
  transition: all 2s allow-discrete;
}
.square:hover {
  background-image: linear-gradient(skyblue, violet);
  transform: translateX(100px);
}
