body {
  background-color: var(--bg);
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --green: rgb(76, 235, 161);
  --pink: rgb(219, 76, 235);
  --bg: rgb(11, 7, 17);
  --header-height: 70px;
}
