.hero {
  height: 100vh;
}
.hero-inner {
  height: 100vh;
  overflow: hidden;
}

.hero .back-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(76, 235, 161);
  padding-top: 3px;
  padding-bottom: 3px;
  clip-path: polygon(
    47% 21%,
    100% 0,
    100% 55%,
    90% 94%,
    46% 100%,
    5% 93%,
    0% 12%
  );
}

.hero .back-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    47% 21%,
    100% 0,
    100% 55%,
    90% 94%,
    46% 100%,
    5% 93%,
    0% 12%
  );
}

.hero .front-video {
  width: 100%;
  height: 100vh;
  background-color: rgb(219, 76, 235);
  padding: 3px;
  clip-path: polygon(
    0% 0%,
    30% 0%,
    50% 15%,
    100% 15%,
    100% 80%,
    30% 100%,
    0% 50%
  );
}

.hero .front-video video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    30% 0%,
    50% 15%,
    100% 15%,
    100% 80%,
    30% 100%,
    0% 50%
  );
  filter: saturate(0.2);
}

.hero .content {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  align-items: center;
}
.hero .content .content-inner {
  width: 1000px;
  max-width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.hero .content .content-inner h2 {
  font-size: 3.5rem;
  text-align: center;
}
