header.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100px;
}

@supports (animation-timeline: view()) {
  header.nav {
    animation: forwards nav;
    animation-timeline: --hero-view;
    animation-range: exit-crossing 50% exit-crossing 70%;
  }
}

@keyframes nav {
  to {
    height: var(--header-height);
    background-color: var(--bg);
  }
}

header.nav .content {
  width: 1000px;
  max-width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.nav h1 {
  margin: 0;
}
header.nav h1 a {
  display: flex;
}
header.nav h1 svg {
  width: 220px;
  aspect-ratio: 5;
  height: auto;
}

header.nav h1 svg .cls-1 {
  fill: rgba(255, 255, 255, 1);
  transition: 0.7s;
  stroke: rgba(255, 255, 255, 0);
  stroke-width: 2px;
}
header.nav h1 svg.animate .cls-1 {
  fill: rgba(255, 255, 255, 0);
  stroke: var(--green);
  stroke-dasharray: 1000;
  animation: 3s ease-in-out drawLogo;
}

@media (prefers-reduced-motion) {
  header.nav h1 svg.animate .cls-1 {
    animation: none;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 0);
  }
}

@keyframes drawLogo {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

header.nav .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header.nav .navigation ul li {
  display: inline-block;
  margin-left: 10px;
}
header.nav .navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
