.services {
  padding: 20px 0px 60px;
  position: relative;
  background-image: linear-gradient(transparent, black);
}

.services .video {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  mask-image: linear-gradient(transparent, black, transparent);
}
.services .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(105deg) brightness(0.3);
}

.services .content {
  margin-top: -100vh;
}
.services h2 {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 4rem;
}
.services .cards {
  --card-height: 50vh;
  --card-gap: 20px;
  --num: 4;
}

.services .cards .cards-grid {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.services .cards .cards-grid .card {
  height: var(--card-height);
}
.services .cards .cards-grid .card-inner {
  background-color: rgb(11 9 14 / 85%);
  backdrop-filter: blur(6px);
  border: 2px solid var(--green);
  height: var(--card-height);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 30px;
}

.services .cards .cards-grid .card-inner .left {
  flex: 1;
  width: 50%;
}
.services .cards .cards-grid .card-inner .right {
  flex: 1;
}
.services .cards .cards-grid .card-inner img {
  width: 100%;
  object-fit: contain;
}
.services .cards .cards-grid .card-inner h3 {
  font-size: 2.4rem;
  line-height: 1.4;
  margin: 0 0 1rem;
}
.services .cards .cards-grid .card-inner p {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.8;
  margin-bottom: 40px;
}
.services .cards .cards-grid .card-inner button {
  background-color: rgba(219, 76, 235, 0.146);
  border: 2px solid var(--pink);
  font-size: 0.9rem;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.services .cards .cards-grid .card-inner button:hover {
  background-color: rgba(219, 76, 235, 0.365);
}
