.team {
  position: relative;
  height: 360vh;
  view-timeline: --team-view;
}
.team .team-inner {
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  overflow-x: hidden;
  animation: linear both teamBg;
  animation-timeline: --team-view;
  animation-range: contain;
}
.team .team-inner .team-grid {
  width: 180vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  animation: linear both moveTeamGrid;
  animation-timeline: --team-view;
  animation-range: contain;
}
.team .team-inner h2 {
  position: absolute;
  text-align: center;
  font-size: 3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 10%;
  animation: both titleAppear;
  animation-timeline: --team-view;
  animation-range: entry-crossing 20vh entry-crossing 40vh;
}

.team .team-inner .team-grid .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team .team-inner .team-grid .grid .card {
  border: 1px solid var(--green);
  height: 100%;
  background-color: rgba(32, 32, 32, 0.59);
  padding: 60px 30px;
  text-align: center;
  border-radius: 3px;
  animation: both cardAppear;
  animation-timeline: --team-view;
  animation-range: entry-crossing 60vh entry-crossing 80vh;
}
.team .team-inner .team-grid .grid .card img {
  width: 90%;
  max-width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 20px;
  outline: 1px solid var(--green);
  outline-offset: 3px;
  animation: linear both rotateTeamMemberImage;
  animation-timeline: --team-view;
  animation-range: contain;
}
.team .team-inner .team-grid .grid .card h3 {
  font-size: 1.4rem;
  margin: 0 0 15px;
}
.team .team-inner .team-grid .grid .card p {
  font-size: 0.9rem;
  opacity: 0.7;
  margin: 0;
}

.team .logo {
  width: 96%;
  position: absolute;
  left: 2%;
  top: 0%;
  bottom: 0;
  margin: auto;
}
.team .logo .cls-1 {
  fill: transparent;
  stroke: var(--green);
  stroke-width: 1px;
  opacity: 0.03;
  stroke-dasharray: 1000;
  animation: 2s infinite neon, both drawLogo;
  animation-timeline: auto, --team-view;
  animation-range: contain 0% contain 20%;
}

@keyframes moveTeamGrid {
  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

@keyframes rotateTeamMemberImage {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes teamBg {
  0% {
    background-color: var(--bg);
  }
  10%,
  80% {
    background-color: #0a120f;
  }
  100% {
    background-color: var(--bg);
  }
}

@keyframes titleAppear {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cardAppear {
  0% {
    opacity: 0;
    clip-path: inset(10%);
  }
  100% {
    opacity: 1;
    clip-path: inset(0%);
  }
}

@keyframes neon {
  0% {
    opacity: 0.03;
  }
  10% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}
