body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
}

.controls {
  margin-top: 40px;
  padding: 10px;
}
.controls .section {
  border: 1px solid;
  padding: 10px;
  margin: 10px 0;
}
.controls .section h3 {
  margin: 0 0 20px;
}
