body {
  background-color: #1d1d1d;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  timeline-scope: --container-timeline;
}

.container {
  height: 50vh;
  flex: 1;
  overflow: auto;
  background-color: #100e1e;
  scroll-timeline: --container-timeline block;
  animation: changeBg both;
  animation-timeline: --container-2;
}
.container-2 {
  height: 50vh;
  flex: 1;
  overflow: auto;
  background-color: #487c55;
  scroll-timeline: --container-2;
}

.content {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto;
}

.square {
  width: 100px;
  height: 100px;
  background-color: gold;
  animation: linear move both;
  animation-timeline: --container-2;
  position: sticky;
  top: 0;
}

@keyframes move {
  to {
    transform: translateX(calc(50vw - 100px));
  }
}

@keyframes changeBg {
  to {
    background-color: rgb(60, 46, 77);
  }
}
